body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
       
       
       margin-top:8rem;
       margin-left:9rem;
}

.home{
    height: 75vh;
}

.big{
    font-size: 15rem;
    margin-left: 4rem;
    color:#facc16;
}


.writeup{
    position: absolute;
    margin-left: -7rem;
    margin-top: 10rem;
    font-size: 2rem;
}

.side{
display: flex;
flex-direction: row;
}

.leftside{
height: 70vh;
width: 50%;

}

.rightside{
    width: 50%;
}

.hello{
    font-family: 'Grape Nuts', cursive;

    text-align: center;
    margin-top: 3rem;
    font-size: 4rem;

}

.name, .myname{
    font-family: 'Grape Nuts', cursive;
    font-size: 4rem;
    text-align: center;
    margin-top: -1rem;
}

.myname{
    margin-top: -3rem;
}